@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.2px;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(145, 110, 110, 0.2);
    margin: 8px;
}

.about-section {
    padding-bottom: 25px;
    text-align: center;
    justify-content: center;
    /* background-color: #474e5d; */
    color: rgb(232, 219, 219);
}

.container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 200px;
    margin-bottom: 20px;
    background: transparent;
    /* border: 1.5px solid white; */
    border-radius: 4px;
    box-shadow: rgba(255, 255, 255, 0.8) 0px 5px 15px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px -2px 2px 0px, rgba(255, 255, 255, 0.25) 0px 2px 6px 2px;
}

/* #div1{
        z-index: 1;
      }
      #div2{
        z-index: 2;
      } */
.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

#bro {
    display: none;
}


.btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: hsl(0, 11%, 4%);
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
    font-size: 16px;
    transition: all 250ms ease-out;
    content: "Contact" !important;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.2px;
    background: #004d40;
    border: 3px solid transparent;
}

.active,
.btn:hover {
    /* background-color: #666; */
    border: 3px solid #004d40;
    background: transparent;
    color: white;
}

.p {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 15px;
}

.team-heading {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}


#divB {
    margin: 50px;
    margin-top: 175px;
    padding: 35px;
}

#div1 {
    position: fixed;
}

#div2 {
    position: fixed;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}